<div class="cardbox contactdata">
  <div class="cardbox-body">
    <div class="row">
      <div class="col-lg-9">
        <h6 class="cardbox-step">Schritt 1</h6>
        <h3 class="cardbox-title">Kontaktdaten erfassen</h3>
        <p class="cardbox-text">Teilen Sie uns Ihre Kontaktdaten mit, damit wir sie erreichen können.</p>
      </div>
      <div class="col-lg-3 align-self-center">
        <button type="button" class="cardbox-button" (click)="openContactModal(contactModal)">
          Weiter
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #contactModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Kontaktdaten</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p class="text-muted mb-4">Mit * gekennzeichnete Felder sind Pflichtfelder.</p>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label class="form-label" for="salutation">Anrede *</label>
        <select class="form-select" id="salutation" formControlName="salutation"
                [class.is-invalid]="isFieldInvalid('salutation')">
          <option value="">Bitte wählen</option>
          <option *ngFor="let salutation of salutations" [value]="salutation">
            {{ salutation }}
          </option>
        </select>
        <div class="invalid-feedback" *ngIf="isFieldInvalid('salutation')">
          Bitte wählen Sie eine Anrede
        </div>
      </div>

      <!-- Weitere Formularfelder... -->

      <div class="modal-footer px-0 pb-0">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">
          Abbrechen
        </button>
        <button type="submit" class="btn btn-primary">
          Speichern
        </button>
      </div>
    </form>
  </div>
</ng-template>
