<div class="cardbox contactdata">
  <div class="cardbox-body">
    <div class="row">
      <div class="col-lg-9">
        <h6 class="cardbox-step">Schritt 2</h6>
        <h3 class="cardbox-title">Kontaktdaten erfassen</h3>
        <p class="cardbox-text">Teilen Sie uns Ihre Kontaktdaten mit, damit wir sie erreichen können.</p>
      </div>
      <div class="col-lg-3 align-self-center">
        <button type="button"
                [class]="isStepCompleted ? 'cardbox-button secondary' : 'cardbox-button'"
                [disabled]="disabled"
                [class.disabled]="disabled"
                (click)="openContactModal(contactModal)">
          {{ isStepCompleted ? 'Bearbeiten' : 'Weiter' }}
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #contactModal let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Kontaktdaten erfassen</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="row modal-content-spacer">
        <div class="col-lg-6">
          <p class="text-muted mb-4">Mit * gekennzeichnete Felder sind Pflichtfelder.</p>
          <div class="form-spacer">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

              <fieldset class="mb-4">
                <legend>Persönliche Angaben</legend>

                <div class="mb-3 row">
                  <label for="anrede" class="col-sm-4 col-form-label">Anrede *</label>
                  <div class="col-sm-8">
                    <select class="form-select form-control border border-required"
                            id="anrede"
                            formControlName="salutation"
                            [class.is-invalid]="isFieldInvalid('salutation')">
                      <option value="" selected>— Anrede wählen</option>
                      <option *ngFor="let salutation of salutations" [value]="salutation">
                        {{salutation}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="mb-3 row">
                  <label for="vorname" class="col-sm-4 col-form-label">Name *</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input id="vorname"
                             required
                             type="text"
                             class="form-control border border-required"
                             placeholder="Max"
                             formControlName="firstName"
                             [class.is-invalid]="isFieldInvalid('firstName')">
                      <input id="nachname"
                             type="text"
                             class="form-control border border-required"
                             placeholder="Mustermann"
                             formControlName="lastName"
                             [class.is-invalid]="isFieldInvalid('lastName')">
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="mb-4">
                <legend>Kontaktinformationen</legend>

                <div class="mb-3 row">
                  <label for="email" class="col-sm-4 col-form-label">E-Mail *</label>
                  <div class="col-sm-8">
                    <input type="email"
                           id="email"
                           class="form-control border border-required"
                           placeholder="max.mustermann@musterfirma.ch"
                           autocomplete="on"
                           formControlName="email"
                           [class.is-invalid]="isFieldInvalid('email')">
                  </div>
                </div>

                <div class="mb-3 row">
                  <label for="telefon" class="col-sm-4 col-form-label">Telefon</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input type="tel"
                             id="telefon"
                             class="form-control border"
                             placeholder="+417998761234"
                             formControlName="phone">
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="mb-4">
                <legend>Firmenangaben</legend>

                <div class="mb-3 row">
                  <label for="firma" class="col-sm-4 col-form-label">Firma</label>
                  <div class="col-sm-8">
                    <input type="text"
                           id="firma"
                           class="form-control"
                           placeholder="Musterfirma AG"
                           formControlName="company">
                  </div>
                </div>

                <div class="mb-3 row">
                  <label for="strasse" class="col-sm-4 col-form-label">Strasse & Hausnummer</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input id="strasse"
                             type="text"
                             class="form-control w-75"
                             placeholder="Musterweg"
                             formControlName="street">
                      <input id="hausnummer"
                             type="text"
                             class="form-control w-25"
                             placeholder="248"
                             formControlName="houseNumber">
                    </div>
                  </div>
                </div>

                <div class="mb-3 row">
                  <label for="plz" class="col-sm-4 col-form-label">PLZ & Ort</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input id="plz"
                             type="text"
                             class="form-control w-25"
                             placeholder="8001"
                             formControlName="postalCode">
                      <input id="ort"
                             type="text"
                             class="form-control w-75"
                             placeholder="Zürich"
                             formControlName="city">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <label for="website" class="col-sm-4 col-form-label">Website</label>
                  <div class="col-sm-8">
                    <input type="url"
                           id="website"
                           class="form-control"
                           placeholder="www.musterfirma.ch"
                           formControlName="website">
                  </div>
                </div>
              </fieldset>

            </form>

          </div>
        </div>
      </div>

      <div class="modal-footer px-0 pb-0">
        <button type="submit" class="btn btn-primary">
          Speichern
        </button>
      </div>

    </form>
  </div>
</ng-template>
