<div class="step-intro">
  <p class="step-title">Check & Absenden</p>
  <h2>Bitte überprüfen Sie Ihre Auswahl.</h2>
</div>


<div class="alert alert-info" role="alert">
  Hier werden die gesammelten Daten aus den vorherigen Schritten und dem Calculator Service angezeigt.
</div>

<div class="mb-3">
  <h6>Ihre Auswahl:</h6>
  <ul>
    <li>Verteilgebiet: <em>(Daten hier einfügen)</em></li>
    <li>Design: <em>(Daten hier einfügen)</em></li>
    <li>Kontaktdaten: <em>(Daten hier einfügen)</em></li>
  </ul>
</div>
<div class="mb-3">
  <h6>Kostenübersicht:</h6>
  <p>Gesamtkosten: <em>(Daten vom Calculator Service hier einfügen)</em></p>
</div>

<hr>

<app-contact-data
  (validationChange)="onContactDataValidationChange($event)"
  (submitRequest)="onContactDataSubmitRequest()">
</app-contact-data>
