<div class="step-intro">
  <h2>Wie können wir Sie für Rückfragen erreichen?</h2>
  <p>Bitte teilen Sie uns Ihre Kontaktdaten mit.</p>
</div>


<form [formGroup]="form" (ngSubmit)="finalizeOrder()">

<!--  <div class="mb-3">
    <label for="contactName" class="form-label">Name <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="contactName" name="name"
           [(ngModel)]="contactData.name" required #nameCtrl="ngModel"
           (ngModelChange)="validateForm()">
    <div *ngIf="nameCtrl.invalid && (nameCtrl.dirty || nameCtrl.touched)" class="text-danger small mt-1">
      <div *ngIf="nameCtrl.errors?.['required']">Name ist ein Pflichtfeld.</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="contactEmail" class="form-label">E-Mail <span class="text-danger">*</span></label>
    <input type="email" class="form-control" id="contactEmail" name="email"
           [(ngModel)]="contactData.email" required email #emailCtrl="ngModel"
           (ngModelChange)="validateForm()">
    <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)" class="text-danger small mt-1">
      <div *ngIf="emailCtrl.errors?.['required']">E-Mail ist ein Pflichtfeld.</div>
      <div *ngIf="emailCtrl.errors?.['email']">Bitte geben Sie eine gültige E-Mail-Adresse ein.</div>
    </div>
  </div>-->

  <fieldset>
    <legend><span>Kontaktperson</span></legend>

    <div class="mb-3 row">
      <label for="anrede" class="col-sm-4 col-form-label">Anrede *</label>
      <div class="col-sm-8">
        <select class="form-select form-control"
                id="anrede"
                formControlName="salutation">
          <option value="" disabled selected>— Anrede wählen</option>
          <option *ngFor="let salutation of salutations" [value]="salutation">{{ salutation }}</option>
        </select>
        <div *ngIf="form.controls['salutation'].invalid && form.get('salutation')?.invalid && form.get('salutation')?.touched" class="text-danger small mt-1">
          Bitte wählen Sie eine Anrede.
        </div>
      </div>
    </div>

    <div class="row">
      <label for="vorname" class="col-sm-4 col-form-label">Name *</label>
      <div class="col-sm-8">
        <div class="input-group">
          <input id="vorname"
                 required
                 type="text"
                 class="form-control"
                 placeholder="Max"
                 formControlName="firstName">
          <input id="nachname"
                 type="text"
                 class="form-control"
                 placeholder="Mustermann"
                 formControlName="lastName">
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><span>Kontaktdaten</span></legend>

    <div class="mb-3 row">
      <label for="email" class="col-sm-4 col-form-label">E-Mail *</label>
      <div class="col-sm-8">
        <input type="email"
               id="email"
               class="form-control "
               placeholder="max.mustermann@musterfirma.ch"
               autocomplete="on"
               formControlName="email">
      </div>
    </div>

    <div class="row">
      <label for="telefon" class="col-sm-4 col-form-label">Telefon</label>
      <div class="col-sm-8">
        <div class="input-group">
          <input type="tel"
                 id="telefon"
                 class="form-control"
                 placeholder="+417998761234"
                 formControlName="phone">
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><span>Firmenangaben</span></legend>

    <div class="mb-3 row">
      <label for="firma" class="col-sm-4 col-form-label">Firma</label>
      <div class="col-sm-8">
        <input type="text"
               id="firma"
               class="form-control"
               placeholder="Musterfirma GmbH"
               formControlName="company">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="strasse" class="col-sm-4 col-form-label">Strasse & Hausnummer</label>
      <div class="col-sm-8">
        <div class="input-group">
          <input id="strasse"
                 type="text"
                 class="form-control w-75"
                 placeholder="Musterweg"
                 formControlName="street">
          <input id="hausnummer"
                 type="text"
                 class="form-control w-25"
                 placeholder="248"
                 formControlName="houseNumber">
        </div>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="plz" class="col-sm-4 col-form-label">PLZ & Ort</label>
      <div class="col-sm-8">
        <div class="input-group">
          <input id="plz"
                 type="text"
                 class="form-control w-25"
                 placeholder="8001"
                 formControlName="postalCode">
          <input id="ort"
                 type="text"
                 class="form-control w-75"
                 placeholder="Zürich"
                 formControlName="city">
        </div>
      </div>
    </div>

    <div class="row">
      <label for="website" class="col-sm-4 col-form-label">Website</label>
      <div class="col-sm-8">
        <input type="url"
               id="website"
               class="form-control"
               placeholder="www.musterfirma.ch"
               formControlName="website">
      </div>
    </div>
  </fieldset>

</form>
