@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "../../../styles/variables";
@import "bootstrap/scss/mixins";

:host {
  display: block;
  width: 100%;
}

#typeahead-plz-search {
  font-size: 18px;
  padding-left: 36px;

  &:focus {
  }

  &[aria-expanded="true"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.typeahead-search-container {
  position: relative;
  z-index: 2;

  .search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #777;
    pointer-events: none;
  }
}
