<div class="search-input-container">
  <input
      #typeaheadInputEl
      type="text"
      class="form-control"
      [class.is-invalid]="currentStatus === 'invalid' && typeaheadSearchTerm.length > 0"
      [class.is-valid]="currentStatus === 'valid' && typeaheadSearchTerm.length > 0"
      [(ngModel)]="typeaheadSearchTerm"
      (ngModelChange)="onSearchTermChange($event)"
      [ngbTypeahead]="searchSuggestions"
      [resultTemplate]="resultTemplate"
      [inputFormatter]="typeaheadInputFormatter"
      (selectItem)="typeaheadItemSelected($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (keydown)="handleInputKeydown($event)"
      [placeholder]="placeholder"
      #typeaheadInstance="ngbTypeahead"
      autocomplete="off"
  />
</div>

<ng-template #resultTemplate let-r="result" let-t="term" let-i="index">
    <div class="typeahead-result-row"
         role="option" [id]="(typeaheadInstance?.popupId || 'default-typeahead') + '-' + (i !== undefined ? i : 'unknown_index')">
        <div class="d-flex align-items-center w-100">
            <div class="typeahead-col-icon me-2">
                <i *ngIf="r.isGroupHeader" class="mdi mdi-home-city" title="Ortsgruppe"></i>
                <span *ngIf="!r.isGroupHeader">{{ r.plz4 }}</span>
            </div>
            <div class="typeahead-col-main flex-grow-1">
                <span *ngIf="r.isGroupHeader" class="fw-medium citygroup">{{ r.ort || r.plz4 }}</span>
                <span *ngIf="r.isGroupHeader && r.childPlzCount" class="text-muted">&nbsp;&nbsp;·&nbsp;&nbsp;{{r.childPlzCount}} PLZ</span>
                <span *ngIf="!r.isGroupHeader">{{ r.ort }}</span>
            </div>
            <div class="typeahead-col-kanton text-muted ms-2" *ngIf="r.kt && r.kt !== 'N/A' && !r.isGroupHeader">{{ r.kt }}</div>
        </div>
    </div>
</ng-template>
