
// ANIMATIONS //////////////////////////////////////////////////////////////////////////////////////

// ANIMATIONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.step-content-inner.animate-slide-in-from-right {
  animation: slideInFromRight $slide-duration $slide-timing-function forwards;
}
.step-content-inner.animate-slide-in-from-left {
  animation: slideInFromLeft $slide-duration $slide-timing-function forwards;
}

@keyframes slideInFromRight {
  0% { opacity: 0; transform: translateX(15%); }
  100% { opacity: 1; transform: translateX(0); }
}
@keyframes slideInFromLeft {
  0% { opacity: 0; transform: translateX(-15%); }
  100% { opacity: 1; transform: translateX(0); }
}
