
// LAYOUT //////////////////////////////////////////////////////////////////////////////////////////

// LAYOUT STYLES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

header {
  height: auto;
  width: 100%;
  padding: 28px 0 20px 0;
  margin-bottom: 36px;
  border-bottom: 1px solid $border-color;
  background-color: $white;
}

.page-title {
  @include font-headline();
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 1px;
  color: $gray-600;
}

.lead {
  color: $gray-700;
}
