
// MOBILE HEADER ///////////////////////////////////////////////////////////////////////////////////

// MOBILE HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.mobile-header {
  padding: $spacing-unit;
  border-bottom: 1px solid $color-border-subtle;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include screen(lg) {
    display: none;
  }

  &__title {
    font-size: $font-size-body * 1.2;
    margin-bottom: 0;
    font-weight: 700;
  }
}
