
// UTILITIES ///////////////////////////////////////////////////////////////////////////////////////

// UTILITIES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.hidden {
  display: none !important;
}

.text-center {
  text-align: center !important;
}

.text-danger {
  color: $color-text-danger !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bolder {
  font-weight: bolder !important;
}


// MARGINS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.mb-1 {
  margin-bottom: $spacing-unit * 0.25 !important;
}

.mb-2 {
  margin-bottom: $spacing-unit * 0.5 !important;
}

.mb-3 {
  margin-bottom: $spacing-unit * 1 !important;
}

.mb-4 {
  margin-bottom: $spacing-unit * 1.5 !important;
}

.mt-3 {
  margin-top: $spacing-unit * 1 !important;
}

.my-4 {
  margin-top: $spacing-unit * 1.5 !important; margin-bottom: $spacing-unit * 1.5 !important;
}


// FLEX UTILITIES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

