<div class="cardbox calculator">
  <div class="card-body">
    <h5 class="cardbox-title">Kalkulation</h5>
    <hr class="mt-2 mb-3">

    <div *ngIf="calculation.items.length > 0; else emptyCalculation" class="calculation-details">
      <ul class="list-unstyled">
        <li *ngFor="let item of calculation.items" class="d-flex justify-content-between calculation-item">
          <span>{{ item.name }}</span>
          <span>{{ item.price | currency:'CHF':'symbol':'1.2-2':'de-CH' }}</span>
        </li>
      </ul>
      <hr>
      <div class="d-flex justify-content-between subtotal-line">
        <span>Zwischentotal</span>
        <span>{{ calculation.subTotal | currency:'CHF':'symbol':'1.2-2':'de-CH' }}</span>
      </div>
      <div class="d-flex justify-content-between vat-line">
        <span>MwSt. ({{ calculation.vatRate * 100 | number:'1.0-1' }}%)</span>
        <span>{{ calculation.vatAmount | currency:'CHF':'symbol':'1.2-2':'de-CH' }}</span>
      </div>
      <hr class="my-2">
      <div class="d-flex justify-content-between fw-bold total-line">
        <span>Total</span>
        <span>{{ calculation.total | currency:'CHF':'symbol':'1.2-2':'de-CH' }}</span>
      </div>
    </div>

    <ng-template #emptyCalculation>
      <p class="text-muted">Die Kalkulation ist leer. Bitte wählen Sie Dienstleistungen aus.</p>
    </ng-template>

  </div>
</div>
