<section class="canvas"></section>
<div class="container-xl">
  <div class="row">
    <div class="col-12 col-lg-12">

      <div class="offerte-container">

        <div class="row">
          <div class="col-2 col-lg-1"><div class="step first checked"></div></div>
          <div class="col-10 col-lg-11"><app-contactdata></app-contactdata></div>
        </div>

        <div class="row">
          <div class="col-2 col-lg-1"><div class="step"></div></div>
          <div class="col-10 col-lg-11"><app-dienstleistungen></app-dienstleistungen></div>
        </div>

        <div class="row">
          <div class="col-2 col-lg-1"><div class="step last"></div></div>
          <div class="col-10 col-lg-11"><app-confirmation></app-confirmation></div>
        </div>

      </div>

    </div>

    <!--<div class="col-12 col-lg-4">
      <app-kalkulation></app-kalkulation>
    </div>-->
  </div>
</div>


