@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "../../../styles/variables";
@import "bootstrap/scss/mixins";

:host {

}

.calculator-title {
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 0.5px;
  font-weight: 800;
  color: $gray-700;
  padding-bottom: 16px;
  margin-top: 18px;
  margin-bottom: 16px;
  border-bottom: 1px solid $border-color;
}

.calculator-container {
  padding-bottom: 120px;

  .btn {

  }

  .secure-box {
    margin-top: 16px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: $gray-600;
  }
}
