@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../../styles/variables";
@import "../../../styles/mixins";

:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;

  .calculator-wrapper {
    position: relative;
    top: 0;

    @include media-breakpoint-up(xl) {
      position: sticky;
      top: 90px;
    }

    .calculator-title {
      @include font-headline();
      text-transform: uppercase;
      font-size: 22px;
      letter-spacing: .3px;
      font-weight: 700;
      color: $gray-600;
      padding: 18px 0 17px 0;
      margin-top: 0;
      margin-bottom: 16px;
      border-bottom: 1px solid $border-color;
    }

    sup {
      font-weight: normal;
    }

    .hinweise-calculator {
      strong {
        font-size: 14px;
        @include font-headline();
        text-transform: uppercase;
        letter-spacing: .3px;
        font-weight: 700;
        color: $gray-600;
        padding-bottom: 8px;
        display: inline-block;
      }
    }

    ol {
      padding-left: 16px;

      li {
        padding-left: 4px;
        padding-bottom: 4px;
      }
    }

    .cost-summary {
      .cost-group {
        .cost-group-title {
          @include lined();
          margin: 48px 0 18px 0;

          span {
            font-weight: 700;
            color: $gray-700;
          }

          &:before {
            top: 8px;
          }
        }

        .calculation-table {
          margin: 0;

          th {
            text-transform: uppercase;
            font-weight: 700;
          }

          th,
          td {
            &:first-of-type {
              padding-left: 0 !important;
            }

            &:last-of-type {
              padding-right: 0 !important;
            }
          }

          td {
            font-weight: 500;
            padding: 10px 8px;
            color: $gray-700;
          }

          .item-label.fw-bold {
            font-weight: 600 !important;
          }

          .item-headline {
            @include font-headline;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            color: $gray-500;
            padding-top: 14px;
            padding-bottom: 14px;
          }

          .item-subtotal,
          .item-quantity {
            font-weight: 400;
          }
        }
      }

      .table-light {
        .item-quantity {}
        td {
          color: $black !important;
          font-weight: 500 !important;
          border-bottom: 1px solid $gray-500;
        }
      }
    }

    .total-summary {

      .price-tax {
        td {
          border-bottom: 1px solid $gray-500;
          color: $gray-700 !important;
        }
      }

      .price-final {
         td {
           font-weight: 600 !important;
           border-bottom: 1px solid $gray-500;
           font-size: 17px;
         }
       }
    }

    .secure-box {
      @include font-headline;
      margin-top: 16px;
      margin-bottom: 32px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      color: $gray-600;
    }
  }
}
