<div class="container-xxl">
  <div class="row">
    <div class="col-12 mb-4">
      <h1 class="page-title">Flyer Verteilen Offerte</h1>
      <p class="lead">Ihre individuelle Offerte für die Flyer-Verteilung in 3 Schritten.</p>
    </div>
  </div>

  <div class="row sheet-container">
    <main class="col-xl-7">
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeStepId" (navChange)="onNavChange($event)" class="nav-tabs nav-fill nav-justified" role="tablist">
        <li [ngbNavItem]="1">
          <button ngbNavLink class="d-flex align-items-center justify-content-center">
            <span>1. Verteilung</span>
            <i class="validation-icon mdi" [ngClass]="getValidationIconClass(1)"></i>
          </button>
          <ng-template ngbNavContent>
            <div>
              <app-distribution-step
                [initialStadt]="initialStadtUrlParam$ | async"
                (validationChange)="onStepValidationChange('verteilgebiet', $event)"
                (zielgruppeChange)="onZielgruppeUpdateFromStep($event)">
              </app-distribution-step>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink class="d-flex align-items-center justify-content-center">
            <span>2. Produktion</span>
            <i class="validation-icon mdi" [ngClass]="getValidationIconClass(2)"></i>
          </button>
          <ng-template ngbNavContent>
            <div>
              <app-design-print-step
                (validationChange)="onStepValidationChange(2, $event)">
              </app-design-print-step>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button ngbNavLink class="d-flex align-items-center justify-content-center">
            <span>3. Absenden</span>
            <i class="validation-icon mdi" [ngClass]="getValidationIconClass(3)"></i>
          </button>
          <ng-template ngbNavContent>
            <div>
              <app-contact-data
                (validationChange)="onStepValidationChange(3, $event)">
              </app-contact-data>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="flex-grow-1"></div>
    </main>
    <aside class="col-xl-5">
      <app-calculator
        [zielgruppe]="zielgruppe"
        [activeStep]="activeStepId"
        [currentStepIsValid]="calculatorCurrentStepIsValid"
        (requestPreviousStep)="onCalculatorPrevious()"
        (requestNextStep)="onCalculatorNext()"
        (requestSubmit)="onCalculatorSubmit()"
        class="calculator-container">
      </app-calculator>
    </aside>
  </div>
</div>
