@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "../../../styles/variables";
@import "bootstrap/scss/mixins";

.choice-card-group {

  &.design-package-group .design-package {
    flex: 1 1 calc(50% - 72px);
    min-width: 321px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border: 1px solid $gray-300;
    border-radius: $border-radius;
    transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out;
    cursor: pointer;
    text-align: left;
    padding: 16px;

    @include media-breakpoint-down(md) {
      flex: 1 1 100%;
      min-width: 0;
    }


    &:hover {
      border-color: $gray-500;
      background-color: $gray-100;
      box-shadow: $box-shadow-sm;
      .package-icon { color: $primary !important; }
    }

    &.selected {
      border-color: $primary !important;
      box-shadow: 0 0 0 2px rgba(red($primary), green($primary), blue($primary), 0.3) !important;
      background-color: mix($primary, $white, 10%);

      .card-header {
        .package-name {
          color: $primary;
        }

        .package-slogan {
          color: darken($primary, 10%);
        }
      }

      .selected-indicator-package {
        opacity: 1;
        transform: scale(1);
      }
    }

    .card-header {
      padding: 0;
      background-color: transparent;
      width: 100%;
      position: relative;

      .package-icon {
        position: relative;
        top: 5px;
        left: 0;
        font-size: 26px;
        margin-right: 10px;
        color: #6c757d;
        transition: color 0.25s ease-in-out;
        line-height: 23px;
      }

      .package-name {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        color: $gray-900;
        margin-bottom: 6px;
        letter-spacing: .3px;
        display: inline-block;
        width: calc(100% - 36px);
      }

      .package-slogan {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .3px;
        color: $gray-600;
        margin-bottom: 18px;
        line-height: 1;
        width: calc(100% - 36px);
        padding-left: 36px;
      }

      .package-price {
        font-family: $font-family-sans-serif;
        font-size: 21px;
        font-weight: 600;
        color: $primary;
        margin: 0 6px 0 0;
        line-height: 1.2;
        display: inline-block;
        width: auto;
        padding-left: 36px;
      }

      .package-price-old {
        font-family: $font-family-sans-serif;
        font-size: 16px;
        color: $gray-600;
        font-weight: 600;
        margin-bottom: 0;
        display: inline-block;
        width: auto;
      }
    }

    .card-body {
      padding: 8px 36px 4px 36px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      width: 100%;

      .features {
        border-top: 1px solid $gray-400;
        text-transform: uppercase;
        letter-spacing: .3px;
        font-size: 13px;
        font-weight: 600;
        padding: 16px 0 0 0;
        list-style: none;
        width: 100%;
        color: $gray-700;
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }

        li {
          margin-bottom: 10px;
          padding: 0;
          display: flex;
          align-items: flex-start;
          line-height: 110%;

          &:last-of-type {
            margin-bottom: 0;
          }

          .mdi {
            opacity: 1;
            margin: 0 6px 0 0;
            color: $success;
            font-size: 24px;
            width: 10px;

            &:before {
              position: relative;
              left: -8px;
              bottom: 1px;
            }
          }

          .savings-info {
            color: $success;
          }
        }
      }
    }

    .selected-indicator-package {
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
      font-size: 1.5rem;
      color: $primary;
      opacity: 0;
      transform: scale(0.7);
      transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    }

    &.bestseller {
      .bestseller-badge {
        background-color: $gray-500 !important;
        font-size: 13px;
        padding-top: 4px !important;
        text-transform: uppercase !important;
        font-weight: 600 !important;
        letter-spacing: .3px !important;
      }

      &.selected {
      }
    }

    @media (max-width: 991px) {
      flex-basis: calc(50% - 0.75rem);
    }
    @media (max-width: 767px) {
      flex-basis: 100%;

      &.bestseller { }
    }
  }

  &.print-option-group button.choice-card,
  .print-service-details .choice-card-group button.choice-card {
    flex-basis: calc(50% - 0.5rem);
    padding: 1rem;

    @media (max-width: 767px) {
      flex-basis: 100%;
    }
    .card-description {
      font-size: 0.85rem;
    }
  }
}

legend span:has(+ .text-danger) {
  margin-right: 0.25rem;
}
