<div class="cardbox solutions">
  <div class="cardbox-body">
    <div class="row">
      <div class="col-lg-9">
        <h6 class="cardbox-step">Schritt 1</h6>
        <h3 class="cardbox-title">Leistungen auswählen</h3>
        <p class="cardbox-text">Wählen Sie die gewünschten Dienstleistungen aus.</p>
      </div>
      <div class="col-lg-3 align-self-center">
        <button type="button"
                [class]="isStepCompleted ? 'cardbox-button secondary' : 'cardbox-button'"
                [disabled]="disabled"
                [class.disabled]="disabled"
                (click)="openSolutionsModal(solutionsModal)">
          {{ isStepCompleted ? 'Bearbeiten' : 'Weiter' }}
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #solutionsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Leistungen auswählen</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">

    <form [formGroup]="solutionsForm" (ngSubmit)="onSubmit()">
      <div class="row modal-content-spacer">
        <div class="col-lg-8">

          <fieldset class="mb-4">
            <legend>Leistungen auswählen</legend>

            <p class="invalid-feedback" [class.d-block]="isFieldInvalid('selectedSolutions')">
              Bitte wählen Sie mind. eine Dienstleistung aus.
            </p>

            <p [class.d-none]="isFieldInvalid('selectedSolutions')">
              Bitte wählen Sie mind. eine Dienstleistung aus.
            </p>


            <div class="solutions-grid">
              <div class="solution-card"
                   *ngFor="let solution of availableSolutions"
                   [class.selected]="isSolutionSelected(solution.id)"
                   (click)="toggleSolution(solution.id)">

                <div class="solution-icon"><i [ngClass]="['bi', solution.icon]"></i></div>
                <div class="solution-card-content">
                  <h5>{{ solution.name }}</h5>
                  <p>{{ solution.description }}</p>
                </div>

                <div class="solution-card-check">
                  <i class="bi"
                     [class.bi-check-square-fill]="isSolutionSelected(solution.id)"
                     [class.bi-square]="!isSolutionSelected(solution.id)"></i>
                </div>

              </div>
            </div>
          </fieldset>

        </div>
        <div class="col-lg-4">
          <app-calculator></app-calculator>
        </div>
      </div>


      <div class="modal-footer px-0 pb-0">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">
          Abbrechen
        </button>
        <button type="submit" class="btn btn-primary">
          Speichern
        </button>
      </div>
    </form>
  </div>
</ng-template>
