@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "../../../styles/variables";
@import "bootstrap/scss/mixins";

:host {
  display: block;
  width: 100%;
  height: 100%;
  min-height: inherit;
  position: relative;
}

#map-angular-container-inner {
  width: 100%;
  height: 100%;
  min-height: inherit;
  background-color: #e9e9e9;
  border-radius: inherit;
  overflow: hidden;
}

#loading-indicator-angular-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 16px 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 10;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

#hover-plz-display-angular-inner {
  position: fixed;
  background-color: $primary;
  color: $white;
  padding: 6px 7px 5px 7px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
  z-index: 10010;
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
  pointer-events: none;
  white-space: nowrap;
}
