@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.plz-table {
  margin-top: 0.5rem;
  position: relative;
  z-index: 2;

  th:first-of-type,
  td:first-of-type {
    padding-left: 0;
  }

  th:last-of-type,
  td:last-of-type {
    padding-right: 0;
  }

  td.has-icon {
    vertical-align: middle;
  }

  td.plz,
  td.ort {
    font-weight: 500;
    color: $gray-700;
    //text-transform: uppercase;
  }

  .btn {
    padding: 4px;
    width: 32px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    max-height: 32px;

    &:first-of-type {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
      margin-left: 4px;
    }

    &:hover {

    }
  }

  .table-hover > tbody > tr:hover > * {
    transition: all .2s ease-in-out;
    background-color: #f3f9ff;
  }

  .form-control-sm {
    width: 85px;
    text-align: right;
    padding: 3px 4px;
    font-size: 16px;
    line-height: 100%;
    min-height: 32px;
    height: 32px;
  }
}
