<div class="plz-table table-responsive">
  <table class="table table-responsive-sm table-hover table-sm">
    <thead>
    <tr>
      <th scope="col" class="plz">PLZ</th>
      <th scope="col" class="ort">Ort</th>
      <th scope="col" class="canton text-start">KT</th>
      <th scope="col" class="flyer-max text-end"
          [class.highlight-column]="highlightFlyerMaxColumn"
          [title]="'Flyer Max basierend auf Zielgruppe: ' + currentZielgruppe">Flyer</th>
      <th scope="col" class="flyer-limit text-start"
          *ngIf="currentZielgruppe !== 'Alle Haushalte'"
          title="Definitive Wunschmenge, die wir für diese PLZ verteilen. Bitte abrunden auf nächste 100er Zahl">Definitiv</th>
      <th scope="col" class="actions text-end">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of entries; trackBy: trackByPlzId"
        (mouseenter)="highlight.emit({plzId: entry.id, highlight: true})"
        (mouseleave)="highlight.emit({plzId: null, highlight: false})">
      <td class="plz">{{ entry.plz4 }}</td>
      <td class="ort">{{ entry.ort }}</td>
      <td class="canton text-start">{{ entry.kt }}</td>
      <td class="flyer-max text-end"
          [class.column-highlighted]="highlightFlyerMaxColumn"
          [class.text-muted]="entry.is_manual_count">
        {{ getAudienceCalculatedFlyerCount(entry) | number:'1.0-0' }}
      </td>
      <td class="flyer-limit text-end"
          *ngIf="currentZielgruppe !== 'Alle Haushalte'"
          title="Definitive Wunschmenge, die wir für diese PLZ verteilen. Bitte abrunden auf nächste 100er Zahl">
        <input class="form-control form-control-sm text-end"
               type="number"
               [ngModel]="entry.selected_display_flyer_count"
               (blur)="onManualFlyerInputBlur(entry, $event.target)"
               min="0"
               step="100"
               [max]="getAudienceCalculatedFlyerCount(entry)"
               placeholder=""/>
      </td>
      <td class="has-icon actions-zoom text-end">
        <button type="button" class="btn btn-sm btn-outline-secondary me-1 action-btn" (click)="zoom.emit(entry)" title="Auf Karte zentrieren">
          <i class="mdi mdi-magnify-scan"></i>
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger action-btn" (click)="remove.emit(entry)" title="Aus Auswahl entfernen">
          <i class="mdi mdi-delete"></i>
        </button>
      </td>
    </tr>
    </tbody>
<!--    <tfoot>
    <tr class="table-light">
      <td colspan="3" class="fw-bold">Total Auswahl</td>
      <td class="text-end fw-bold" [class.highlight-column]="highlightFlyerMaxColumn">
        {{ getTotalAudienceCalculatedFlyers() | number:'1.0-0' }}
      </td>
      <td class="text-end fw-bold" *ngIf="currentZielgruppe !== 'Alle Haushalte'">
        {{ getTotalDefinitiveFlyers() | number:'1.0-0' }}
      </td>
      <td></td>
    </tr>
    </tfoot>-->
  </table>
</div>
