<div class="step-intro">
  <p class="step-title">Verteilung & Zielgebiet</p>
  <h2>Wann und wo sollen Ihre Flyer verteilt werden?</h2>
  <p>Wählen Sie Verteilungsdatum und Zielgebiet für Ihre Flyerverteilung.</p>
</div>

<h3 class="section-title"><span>1. Verteilung</span></h3>

<div class="mb-3 row">
  <label for="verteilung-startdatum" class="col-sm-4 col-form-label">Zeitraum * <span class="badge rounded-pill text-bg-light hint" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Wir benötigen einen Vorlauf von mind. 1 Tag. Bis.">?</span></label>

  <div class="col-sm-8">
    <div class="input-group">
      <input class="form-control border border-required" type="date" name="verteilung-startdatum" id="verteilung-startdatum" placeholder="tt.mm.yyyy" required="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Startdatum: 2 Wochen ab Heute" min="2025-05-30">
      <input class="form-control border border-required" type="date" name="verteilung-enddatum" id="verteilung-enddatum" required="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Enddatum: 2 Wochen nach Startdatum">
    </div>
  </div>
</div>

<div class="mb-3 row">
  <label for="verteilung-anlieferung" class="col-sm-4 col-form-label">Anlieferung der Flyer *</label>

  <div class="col-sm-8">
    <select class="form-select form-control border border-required" name="verteilung-anlieferung" id="verteilung-anlieferung" required="">
      <option selected="">— Anlieferung wählen</option>
      <option value="Sie liefern zu uns — kostenlos">Sie liefern zu uns — kostenlos</option>
      <option value="Wir holen bei Ihnen ab — kostenpflichtig: 75 CHF">Wir holen bei Ihnen ab — kostenpflichtig: 75 CHF</option>
    </select>
  </div>
</div>

<div class="mb-3 row">
  <label for="verteilung-format" class="col-sm-4 col-form-label">Format *</label>

  <div class="col-sm-8">
    <select class="form-select form-control border border-required" name="verteilung-format" id="verteilung-format" required="">
      <option selected="">— Format wählen</option>
      <option value="A5 bis A8">A5 bis A8</option>
      <option value="DIN Lang">DIN Lang — Zuschlag +20 CHF/1000 Flyer</option>
      <option value="A4">A4 — Zuschlag +30 CHF/1000 Flyer</option>
      <option value="A3">A3 — Zuschlag +50 CHF/1000 Flyer</option>
    </select>
  </div>
</div>

<div class="mb-3 row">
  <label for="verteilung-typ" class="col-sm-4 col-form-label">Verteilung *</label>

  <div class="col-sm-8">
    <select class="form-select form-control border border-required" name="verteilung-typ" id="verteilung-typ" required="">
      <option value="Nach PLZ" selected>Nach PLZ Ort</option>
      <option value="Nach Perimeter">Nach Perimeter</option>
    </select>
  </div>
</div>

<h3 class="section-title"><span>2. Zielgebiet</span></h3>

<div class="perimeter-container reminder">
  <div class="reminder-title">Verteilung nach GPS-Perimeter</div>
  <p>Für die Verteilung nach GPS-Perimeter benötigen wir Ihr gewünschtes Zielgebiet, um die Flyeranzahl und Kosten zu berechnen.</p>

  <ol>
    <li>Öffnen Sie <a href="https://earth.google.com" target="_blank"><strong>Google Earth</strong></a></li>
    <li>Neue <strong>lokale KML-Datei</strong> erstellen <span class="badge text-bg-secondary">CTRL + K</span><br><span class="mdi mdi-arrow-right-thin"></span>Projektname: GPS-Perimeter – Name/Firma</li>
    <li>Zielgebiet als <strong>Pfad oder Polygon</strong> einzeichnen <span class="badge text-bg-secondary">CTRL + SHIFT + L</span><br><span class="mdi mdi-arrow-right-thin"></span>In Projekt speichern, z.B. Perimeter 8001 Zürich</li>
    <li>Auf die <strong>drei Punkte</strong>&nbsp;<span class="badge text-bg-secondary fs-6"><i class="mdi mdi-dots-vertical"></i></span>&nbsp;beim Eintrag klicken <br><span class="mdi mdi-arrow-right-thin"></span> <strong>Als KML-Datei exportieren</strong> wählen</li>
    <li>KML-Datei <strong>hier hochladen</strong></li>
  </ol>
  <p>Nach dem Absenden Ihrer Anfrage erhalten Sie umgehend Ihre Offerte</p>
  <strong>Preise ab CHF 250.– pro 1’000 Flyer</strong>
</div>

<div class="mb-3">
  <label for="distributionArea" class="form-label">Geben Sie die gewünschte Postleitzahl, den gewünschten Postleitzahlenbereich oder den Ortsnamen ein</label>

  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="search"><i class="mdi mdi-magnify"></i></span>
    <input type="text"
           id="distributionArea"
           class="form-control"
           placeholder="8001 oder 8001-8004 oder Zürich"
           aria-label="Suche"
           (input)="updateLocalValidationStatus($any($event.target).value ? ($any($event.target).value.length > 2 ? 'valid' : 'pending') : 'invalid')">
    <button class="btn btn-primary" type="button">Hinzufügen</button>
  </div>
</div>

<div class="mb-3 text-end">
  <button class="btn btn-outline-secondary mb-3" type="button"><i class="mdi mdi-delete"></i>&nbsp;Liste löschen</button>
</div>

<div class="plz-table table-responsive">
  <table class="table table-responsive-sm table-hover">
    <thead>
    <tr>
      <th scope="col" class="plz">PLZ</th>
      <th scope="col" class="ort">Ort</th>
      <th scope="col" class="canton">KT.</th>
      <th scope="col" class="flyer-max">Flyer Max</th>
      <th scope="col" class="flyer-fix">Flyer Fix</th>
      <th scope="col" colspan="2" class="text-end">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>8001</td>
      <td>Zürich</td>
      <td>ZH</td>
      <td class="flyer-max">7'120</td>
      <td><input class="form-control" type="number" value="2100" title="Anzahl Flyer für diese PLZ festlegen"></td>
      <td class="has-icon"><a href="#"><i class="mdi mdi-crosshairs-gps" title="Auf Karte anzeigen"></i></a></td>
      <td class="has-icon"><a href="#"><i class="mdi mdi-delete" title="Eintrag löschen"></i></a></td>
    </tr>
    <tr>
      <td>8002</td>
      <td>Zürich</td>
      <td>ZH</td>
      <td class="flyer-max">9'800</td>
      <td><input class="form-control" type="number" value="2100"></td>
      <td class="has-icon"><a href="#"><i class="mdi mdi-crosshairs-gps" title="Auf Karte anzeigen"></i></a></td>
      <td class="has-icon"><a href="#"><i class="mdi mdi-delete" title="Eintrag löschen"></i></a></td>
    </tr>
    <tr>
      <td>4322</td>
      <td>Rudolfstetten-Friedlisberg</td>
      <td>AG</td>
      <td class="flyer-max">14'100</td>
      <td><input class="form-control" type="number" value="2100"></td>
      <td class="has-icon"><a href="#"><i class="mdi mdi-crosshairs-gps" title="Auf Karte anzeigen"></i></a></td>
      <td class="has-icon"><a href="#"><i class="mdi mdi-delete" title="Eintrag löschen"></i></a></td>
    </tr>
    <tr>
      <td>3000</td>
      <td>Bern</td>
      <td>BE</td>
      <td class="flyer-max">2'100</td>
      <td><input class="form-control" type="number" value="2100"></td>
      <td class="has-icon"><a href="#"><i class="mdi mdi-crosshairs-gps" title="Auf Karte anzeigen"></i></a></td>
      <td class="has-icon"><a href="#"><i class="mdi mdi-delete" title="Eintrag löschen"></i></a></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="map-main-container">
  <div #mapContainer id="map-container-angular">
    <div #mapDiv id="map-angular"></div>
    <div #hoverPlzDisplay id="hover-plz-display-angular">PLZ: --</div>
  </div>

  <div #loadingIndicator id="loading-indicator-angular">Loading KML...</div>
</div>

<div class="mt-4 navigation-buttons">
  <p>Anzahl ausgewählter PLZ-Gebiete: {{ selectedPlzIdentifiers.length }}</p>
  <button type="button" class="btn btn-primary" (click)="proceedToNextStep()">
    Weiter zu Design & Druck <i class="bi bi-arrow-right ms-1"></i>
  </button>
</div>


<!-- Nur für Testzwecke, kann entfernt werden -->
<div class="mt-3 p-2 border rounded bg-light-subtle small">
  <p class="mb-1">Test-Buttons für Validierungsstatus:</p>
  <button class="btn btn-sm btn-outline-success me-1" (click)="setExampleStatus('valid')">Set Valid</button>
  <button class="btn btn-sm btn-outline-warning me-1" (click)="setExampleStatus('pending')">Set Pending</button>
  <button class="btn btn-sm btn-outline-danger" (click)="setExampleStatus('invalid')">Set Invalid</button>
</div>
