@import 'scss/custom-bootstrap';

body {
  background-color: $gray-200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: $white;
  border-bottom: 1px solid $gray-400;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);

  .logo {
    width: 220px;
    margin-bottom: 10px;
  }

  .row {
    height: 160px;
  }

  h1 {
    font-size: 1rem;
    text-transform: uppercase;
    color: rgba(0,0,0,.4);
    font-weight: 700;
    letter-spacing: 1px;
  }

  h2 {
    font-weight: 600;
    font-size: 2rem;
    color: $gray-700;
    margin: 0;
    line-height: 100%;
  }
}


.canvas {
  background-color: rgba(255,255,255,.08);
  margin: 60px auto;
}
