.cardbox {
  @extend .card;
  margin-bottom: 36px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .06);

  .cardbox-step {
    text-transform: uppercase;
    color: $gray-600;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 12px;
  }

  .cardbox-body {
    @extend .card-body;
    padding: 24px;
  }

  .cardbox-title {
    @extend .card-title;
    font-weight: 500;
    color: $gray-800;
    font-size: 1.75rem;
  }

  .cardbox-text {
    @extend .cardbox-text;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 18px;
    color: $gray-800;
  }

  .cardbox-button {
    @extend .btn;
    @extend .btn-primary;
    display: inline-block;
    padding: 16px 18px 15px 18px;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .5px;
    text-decoration: none;
    border-radius: 4px;
    background-color: $primary;
    color: rgba(255,255,255, .9);
    text-shadow: 1px 1px rgba(0,0,0,.1);
    border: none;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    line-height: 100%;

    &:hover {
      background-color: darken($primary, 10%);
    }

    &.secondary {
      background-color: transparentize($secondary, .2);
      color: rgba(255,255,255,.9);

      &:hover {
        background-color: darken($secondary, 10%);
      }
    }

    &.disabled {
      opacity: 0.65;
      cursor: not-allowed;
      background-color: $gray-400 !important;
      border-color: $gray-500 !important;
      color: $gray-700 !important;

      &:hover, &:focus, &:active {
        background-color: $gray-400 !important;
        border-color: $gray-500 !important;
        color: $gray-700 !important;
        box-shadow: none !important;
      }
    }
  }
}

