.cardbox {
  @extend .card;
  margin-bottom: 36px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .06);

  .cardbox-step {
    text-transform: uppercase;
    color: $gray-600;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 12px;
  }

  .cardbox-body {
    @extend .card-body;
    padding: 24px;
  }

  .cardbox-title {
    @extend .card-title;
    font-weight: 500;
    color: $gray-800;
  }

  .cardbox-text {
    @extend .cardbox-text;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 18px;
    color: rgba(0,0,0,.6);
  }

  .cardbox-button {
    @extend .btn;
    @extend .btn-primary;
    font-weight: bold;
    width: 100%;
  }
}
